@keyframes card-slide {
    0% {
        opacity: 0;
        transform: translateY(-20%)
    }
    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}






body {
    background-color: #c1121f;
    margin: 0px;
    padding: 0px;
}

main {
  padding: 50px;
}

.header-container {
    position: relative;
    z-index: 1;
    width: 100vw;
    border-radius: 0px;
    background: linear-gradient(145deg, #cf1321, #ae101c);
    box-shadow:  5px 5px 12px #780b13,
             -5px -5px 12px #ff192b;
    display: flex;
    justify-content: center;
  }
.header-title {
    font-family: "Shrikhand", sans-serif;
    font-size: 46px;
  }

.fiche-container {
    background-color: antiquewhite;
    padding: 20px;
    width: 45%;
    display: flex;
    animation: card-slide 1200ms forwards;
    -webkit-box-shadow: 0px 6px 12px 6px rgba(0,0,0,0.59); 
    box-shadow: 0px 6px 12px 6px rgba(0,0,0,0.59);
}

.image-fiche {
    background-color: red;
    width: 35%;
    height: 35%;
    border-radius: 50%;

}

.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-left: 35px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.description {
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name-container img {
    width: 6%;
    margin-left: 20px;
}

.name-container p {
    display: flex;
    align-items: center;
}

.description {
    font-size: 32px;
}

@media (max-width: 700px) {

.header-title {
    font-size: 26px;
  }
   
.fiche-container {
    width: 90%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
.name-container {
    display: flex;
    flex-direction: column;
    text-align: center;   
}

.fiche-container {
    width: 90%;
}

.name-container p {
    display: block;
}

.image-fiche {
    width: 70%;
    height: 70%;

}
.description {
    margin-left: 0px;
    margin-top: 25px;
}
}