@keyframes card-slide {
    0% {
        opacity: 0;
        transform: translateY(-20%)
    }
    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}
@keyframes stats {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}






body {
    background-color: #c1121f;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: "Shrikhand", sans-serif;
    font-size: 32px;
    margin: 10px;
}

main {
  padding: 50px;
}

section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: auto;
}

.header-container {
    position: relative;
    z-index: 1;
    width: 100vw;
    border-radius: 0px;
    background: linear-gradient(145deg, #cf1321, #ae101c);
    box-shadow:  5px 5px 12px #780b13,
             -5px -5px 12px #ff192b;
    display: flex;
    justify-content: center;
  }
.header-title {
    font-family: "Shrikhand", sans-serif;
    font-size: 46px;
    margin: 10px;
  }

.fiche-container {
    background-color: antiquewhite;
    padding: 20px;
    width: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    animation: card-slide 1200ms forwards;
    -webkit-box-shadow: 0px 6px 12px 6px rgba(0,0,0,0.59); 
    box-shadow: 0px 6px 12px 6px rgba(0,0,0,0.59);
}

.fiche-container .image-fiche {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: #faebd7;
    box-shadow: inset 28px 28px 57px #b9ae9f,
            inset -28px -28px 57px #ffffff;

}

.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.description {
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

.sprite-name-container {
    width: 100%;
    padding-top: 35px;
    display: flex;
}

.sprite-name-container img {
    width: 20px;
    margin-left: 20px;
    
}

.sprite-name-container p {
    display: flex;
    align-items: center;
}

.name-container {
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 32px;
}

/*      Les Stats    */

.stats {
    background-color: #faebd7;
    opacity: 0;
    border-radius: 25px;
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: card-slide 1200ms forwards;
    animation-delay: 400ms;
    -webkit-box-shadow: 0px 6px 12px 6px rgba(0,0,0,0.59); 
    box-shadow: 0px 6px 12px 6px rgba(0,0,0,0.59);
}

.tableau-stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 2px solid grey;
    width: 90%;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 25px 25px 0px 0px;
    background: #faebd7;
    box-shadow: inset 28px 28px 57px #b9ae9f,
            inset -28px -28px 57px #ffffff;
}

.stats-names {
    display: flex;
    width: 90%;
    justify-content: space-between;

}

.stats-names p {
    margin-left: 30px;
}

.bar {
    width: 10%;
    text-align: center;
    position: relative;
    opacity: 0;
    transform-origin: bottom;
    animation: stats 1200ms forwards;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    padding-top: 5px;
}

.bar-hp {
    border-radius: 5px 5px 0px 0px;
    border: 2px solid black;
    border-bottom: 0px;
    animation-delay: 600ms;
}

.bar-hp::before {
    content: "PV max";
    position: absolute;
    bottom: 35px;
    left: -10px;
    transform: rotateZ(-90deg);
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    
}

.bar-atk {

    border-radius: 5px 5px 0px 0px;
    border: 2px solid black;
    border-bottom: 0px;
    animation-delay: 800ms;
}

.bar-atk::before {
    content: "Attaque";
    position: absolute;
    bottom: 40px;
    left: -25px;
    transform: rotateZ(-90deg);
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    
}

.bar-def {

    border-radius: 5px 5px 0px 0px;
    border: 2px solid black;
    border-bottom: 0px;
    animation-delay: 1000ms;
}

.bar-def::before {
    content: "Défense";
    position: absolute;
    bottom: 40px;
    left: -25px;
    transform: rotateZ(-90deg);
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    
}

.bar-spe_atk {

    border-radius: 5px 5px 0px 0px;
    border: 2px solid black;
    border-bottom: 0px;
    animation-delay: 1200ms;
}

.bar-spe_atk::before {
    content: "Attaque spé";
    position: absolute;
    bottom: 35px;
    left: -25px;
    transform: rotateZ(-90deg);
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    
}

.bar-spe_def {

    border-radius: 5px 5px 0px 0px;
    border: 2px solid black;
    border-bottom: 0px;
    animation-delay: 1400ms;
}

.bar-spe_def::before {
    content: "Défense spé";
    position: absolute;
    bottom: 35px;
    left: -25px;
    transform: rotateZ(-90deg);
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    
}

.bar-vit {

    border-radius: 5px 5px 0px 0px;
    border: 2px solid black;
    border-bottom: 0px;
    animation-delay: 1600ms;
}

.bar-vit::before {
    content: "Vitesse";
    position: absolute;
    bottom: 40px;
    left: -25px;
    transform: rotateZ(-90deg);
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    
}


@media (max-width: 700px) {
body {
    width: 100vw;
}

main {
    padding: 20px;
}
.header-title {
    font-size: 26px;
  }

section {
    flex-direction: column;
    width: 100%;
}

.stats {
    width: 90%;
}

.stats-names p {
    margin: 0px;
    transform: rotateZ(-80deg);
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    padding-bottom: 15px;
}

.bar {
    font-size: 6px;
}

.bar-hp::before {
    left: -6px;
    font-size: 8px;
    
}

.bar-atk::before {
    font-size: 8px;
    left: -15px;
}

.bar-def::before {
    font-size: 8px;
    left: -15px;
}

.bar-spe_atk::before {
    font-size: 8px;
    left: -15px;
}

.bar-spe_def::before {
    font-size: 8px;
    left: -15px;
}

.bar-vit::before {
    font-size: 8px;
    left: -15px;
}

   
.fiche-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

.name-container {
    display: flex;
    flex-direction: column;
    text-align: center;   
}

.fiche-container {
    width: 90%;
}

.name-container p {
    display: flex;
}

.image-fiche {
    width: 70%;
    height: 70%;

}
.description {
    margin-left: 0px;
    margin-top: 25px;
    padding-top: 0px;
    width: 100%;
}
}

@media (min-width: 1400px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main {
        text-align: center;
        width: 1400px;

    }
    .image-fiche {
        width: 200px;
        height: 200px;
    }
}